* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

 .board { 
  padding: .5rem;
  height: 540px;
  width: 570px;
  display: flex;
  flex-wrap: wrap; 
  position: absolute;
  background-color: rgb(0, 174, 255);
  border: 2px solid black;
  align-items: center;

  }
  
  .circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
  }
  
 
  h1 {
    background-color: blueviolet;
    color: white;
    text-align: center;
  }

button {
    font-size: 3vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: 1vmin solid blueviolet;
    color: blueviolet;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
  background-color: blueviolet;
  color: white;
}